body {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    background-color:  lightgray;
}

/* We cannot apply margin, height to inline level element */
/* paragraph, main are block level element bydefault display is inline */
/* change display to inline-block to make margin padding work in span*/

.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    margin-top: 100px;
    height: 200px;
    padding: 4rem;
}