@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}


/* styling in anchor  */
/* default style no need to write */


a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

/* to make Underline color also comment out the above element to work */
a {
    color: steelblue;
}


/* psyeudo Class */
/* order matter */


a:visited {
    color: purple;
}

/* by adding a:focus we can use tab key to navigate link */
a:hover, a:focus {
    /* opacity the arrow element */
    color: hsl(210, 100%, 56%, 0.8);
    /* opac the text */
    opacity: 0.7; 
    background: gold;
}

a:active {
    color: red;
}